

article {
  margin: 0 auto;
  max-width: 880px;
  padding: 0 20px;
}

.title {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}



/* content style */

.content {
  line-height: 1.8;
}

table {
  min-width: 200px;
  border: 0.5px solid;
  line-height: initial;
  border-collapse: collapse;
}

table th {
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
}

table td {
  border: 0.5px solid #AAAAAA;
  padding: 10px;
}


/* code block */
pre {
  border: solid 1px white;
  padding: 8px;
  border-radius: 5px;
  position: relative;
}

div[data-rehype-pretty-code-fragment] {
  
}