.post-list {
    display: flex;
    max-width: 840px;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
}

.post-item {
    width: auto;
    padding: 20px 0;
}

.post-item .tag-list {
    display: flex;
    gap: 8px;
    color: var(--text-primary);
    font-weight: bold;
}

.post-title {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 2px;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-date {
    font-size: 0.8rem;
    color: var(--text-description2);
}

.post-description {
    display: block;
    margin-top: 8px;
    color: var(--text-description);
}