article {
  margin: 0 auto;
  max-width: 880px;
  padding: 0 20px 100px;
}

.post-header {
  padding: 4rem 0;
  text-align: center;
}

.title {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

/* content style */

.content {
  line-height: 1.8;
}

table {
  min-width: 200px;
  border: 0.5px solid;
  line-height: initial;
  border-collapse: collapse;
}

table th {
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
}

table td {
  border: 0.5px solid #aaaaaa;
  padding: 10px;
}

.content h2 {
  border-bottom: solid 1px;
  border-color: var(--border-primary);
  margin-top: 5rem;
  color: var(--text-primary);
}

.content ul li {
  list-style-type: circle;
}

.content a {
  color: var(--text-link);
  background-image: linear-gradient(
      var(--background-rgb),
      var(--background-rgb)
    ),
    linear-gradient(var(--text-link), var(--text-link));
  background-size:
    100% 2px,
    100% 2px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms ease-in-out;
}

.content a:hover {
  background-size:
    0 2px,
    100% 2px;
}

/* code block style*/
pre {
  margin-top: 0;
  padding: 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  overflow: scroll;
}

.content div[data-rehype-pretty-code-title] {
  border: solid 2px var(--border-primary);
  padding-left: 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--text-basic);
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}
