.post-list {
	display: flex;
	max-width: 840px;
	flex-direction: column;
	gap: 16px;
	margin: 0 auto;
	padding: 0 40px;
}

.post-item {
	width: auto;
	transition: all 100ms ease-in;
}

.post-item a {
	display: inline-block;
	padding: 20px;
	width: 100%;
}

.post-item:hover{
	transform: scale(1.01);
}

.post-item .tag-list {
	display: flex;
	gap: 8px;
	color: var(--text-primary);
	font-weight: bold;
	flex-wrap: wrap;
}

.post-item .tag {
	white-space: nowrap;
}

.post-title {
	display: block;
	font-size: 1.25rem;
	font-weight: 700;
	margin-top: 2px;
}

.post-header {
	display: flex;
	justify-content: space-between;
	gap: 8px;
}

.post-date {
	font-size: 0.8rem;
	color: var(--text-description2);
}

.post-description {
	display: block;
	margin-top: 8px;
	color: var(--text-description);
}